<div class="example-container">
    <mat-card-title>Nuevo Ticket</mat-card-title>
    <mat-divider></mat-divider><br>
    <mat-form-field appearance="fill" fxFlexFill>
        <mat-label>Departamento</mat-label>
        <mat-select>
            <mat-option value="option">Finanzas</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" fxFlexFill>
        <mat-label>Categoria</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" fxFlexFill>
        <mat-label>Sub Categoria</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" fxFlexFill>
        <mat-label>Descripcion</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-card-actions fxLayoutAlign="end end">
        <button mat-raised-button color="primary">Enviar</button>
    </mat-card-actions>

</div>