.profile {
    padding-top: 15px;
    padding-left: 50px;
    height: auto;
}

.data {
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

.photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 1px #fff;
}