.container {
    height: 100vh;
    background-image: url(../../../assets/img/work_background.jpg);
    background-size: cover;
}

.header-logo {
    height: 40px;
    width: 120px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.btn-login {
    width: 100%;
}

.mat-card-header {
    margin-bottom: 20px;
}

.statement {
    font-size: 12px;
}